*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height:80px;
    width:100vw;
    background: black;
}

.logo{
    padding-left: 20px;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo h1{
    color: red;


}

.logo strong{
    font-size:35px;
}



main{
    min-height:calc(100vh - 80px);
    width:100vw;
    background: grey;
}

.cerca{
    height: 100%;
    float: right;
    margin-right: 40px;
    display: flex;
    align-items: center;

}

#cerca-film{
    height:20px;
    margin-right: 10px;
    border:1px solid grey;
    background: black;
    color: white;
}

#cerca-film:focus{
    outline: none;
}

#button-cerca-film{
    height: 20px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    background-color: black;
}

#button-cerca-film i {
    color:grey;
}



.container{
    padding-top: 20px;
    width: 80%;
    margin:auto;

}

.card{

    display: inline-block;
    width: 232px;
    height:350px;
    background-color: transparent;
    position: relative;
    margin: 10px 5px;
    perspective: 1000px;
    overflow: hidden;


}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
}

.card-back{

    background-color: black;
    color: white;
    transform: rotateY(180deg);
    overflow-y: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;




}

.card-back span{
    display: block;
}




.card:hover{
    cursor: pointer;
}

.card img{
    width:100%;
}

.overcard{
    background-color: black;
    opacity:0;
    height:100%;
    width:100%;
    position: absolute;
    bottom: 0;
}

.card:hover .overcard{
    opacity:0.8;
}



.sezione{
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    height:100%;
    width:100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    opacity: 0;

}

.card:hover .sezione{
    opacity: 1;
}



.sezione div{
    padding-bottom: 20px;
}



.sezione p{
    font-weight: bold;
    color:white;
    overflow-y: hidden;
}


.sezione small{
    margin-top: 0;

    color: grey;
    font-size: 12px;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

.sezione span{

    display: block;
    color: white;
    font-size: 14px;

}

.stelle{
    font-style: italic;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-star {
    color: white;
}

.flag{
    max-width: 20px;
    max-height:20px;
    position: relative;
    top: 5px;
}



.film , .serie{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;

}


#film , #serie {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    position: absolute;
    top: -20px;
    left: 0;
}

#descrizione{

    color:grey;



}

.card-back::-webkit-scrollbar{
    width:0.8em;
    height:0.8em;
    background: black;
    margin-right: 10px;


}

.card-back::-webkit-scrollbar:hover{

    border: none;
}
.card-back::-webkit-resizer{
    -webkit-border-radius:4px;
    background-color:darkgrey;
    border: none;
}
.card-back::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    -webkit-border-radius:4px;
    background-color: darkgrey;
    border: none;
}
.card-back::-webkit-scrollbar-thumb:hover{
    background-color: #D80067;
    border: none;
}
.card-back::-webkit-scrollbar-thumb:active{
    background-color:#990754;
    border: none;
}

.lingua{
    width: 50px;
    background-color: black;
    border-color: black;
    color: darkgrey;
    outline: none;
    margin-left: 20px;

}
